<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<html class="no-js" lang='es'> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block titulo %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <style>
            body {
                padding-top: 60px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Dosis:800' rel='stylesheet' type='text/css'>       
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/datepicker.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">
        <link rel="stylesheet" href="{{STATIC_URL}}/css/bootstrap-editable.css"> 

    </head>
    <body>       
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">SISGEDO</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Inicio</a></li>
                            <li><a href="/usuarios/">Usuarios</a></li>
                        </ul>
                        {% if user.is_authenticated %}
                        <ul class="nav pull-right">
                            <li><a href="/">{{user.first_name|capfirst}}</a></li>
                            <li><a href="/cerrar/">Cerrar Session</a></li>
                        </ul>
                        {% else %}
                        {% endif %}
                        
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            {% block contenido %}                
            {% endblock contenido %}
        </div>
        <footer class="footer">
            <div class="container">
                <p>Diseñado y construido por <a href="http://twitter.com/qaysen" target="_blank">@Qaysen</a></p>
                <p>Codigo bajo licencia <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentacion bajo <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES">CC BY 3.0</a>.</p>
                <p>Desarrolladores:</p>
                <ul class="footer-links">
                  <li><a href="http://blog.getbootstrap.com">Elicia</a></li>
                  <li class="muted">·</li>
                  <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Fiorella</a></li>
                  <li class="muted">·</li>
                  <li><a href="https://github.com/twitter/bootstrap/wiki">Michael</a></li>
                  <li class="muted">·</li>
                  <li><a href="https://github.com/twitter/bootstrap/wiki">Oscar</a></li>
                  <li class="muted">·</li>
                  <li><a href="https://github.com/twitter/bootstrap/wiki">Orlando</a></li>
                  <li class="muted">·</li>
                  <li><a href="https://github.com/twitter/bootstrap/wiki">Jhonatan</a></li>
                  <li class="muted">·</li>
                  <li><a href="https://github.com/twitter/bootstrap/wiki">Edwin</a></li>
                </ul>
              </div>
            <p>&copy; <a href="http://www.qaysen.com">Qaysen</a> 2013</p>
        </footer>
        <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
        <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
        <script src='{{STATIC_URL}}js/jquery.dataTables.min.js'></script>
        <script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
        <script src='{{STATIC_URL}}js/validateform.js'></script>
        <script src='{{STATIC_URL}}js/main.js'></script>
        <script src="{{STATIC_URL}}js/bootstrap-editable.js"></script>
       
        {% block script %}{% endblock %}
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
            $(document).on("ready", setup);
  function setup(){
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        function getCookie(name) {
          var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
                }
            }
        return cookieValue;
        }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
      // Only send the token to relative URLs i.e. locally.
          xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
      }
    });
  }

        </script>

    </body>
</html>
