{% extends "base.html" %}
{% block titulo %}
Usuarios
{% endblock titulo %}
{% block contenido %}

<ul class="breadcrumb">
  <li><a href="#">Sisgedo</a> <span class="divider">/</span></li>
  <li><a href="/usuarios">Usuarios</a> <span class="divider">/</span></li>
  <li class="active">Editar Usuario</li>
</ul>

<form action="/usuarios/editar/{{usuario.id}}" id="formulario23" class="form-horizontal" method="POST">
	{% csrf_token %}
	<table>
    {{formulario.as_p}}
  </table>
	<input type="hidden" value="{{usuario.username}}" id="username-validar">
    
	    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>
<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
        <script type="text/javascript">
          $(document).on("ready", inicio)
          var recibir = function(data)
          {
            var id = $("#username-validar").val();
            if (data === id)
            {
            }
            else
            {
              $(".helptext").html("El username ya esta utilziado");
            }
              
          }
          var eror = function(XMLHttpRequest, textStatus, errorThrown)
          {
              $(".helptext").html("Correcto");
          }
          function inicio()
          {
              $("#formulario23 #id_username").on("keyup", evento);
          }
          function evento () {
              var id = $("#formulario23 #id_username").val();
              $.ajax({
                  data: { clave : id },
                  success: recibir,
                  error: eror,
                  type: "GET", 
                  url: "/ajax-username/"
              });
          }
        </script>
{% endblock contenido %}