{% extends 'base.html' %}

{% block titulo %} Detalle del Usuario{%  endblock %}
{% block encabezado %}
	<h2><strong> Detalle del Usuario</strong></h1>
{% endblock %}

{% block contenido %}


<ul class="breadcrumb">
  <li><a href="/">Sisgedo</a> <span class="divider">/</span></li>
  <li><a href="/usuarios/">Usuarios</a> <span class="divider">/</span></li>
  <li class="active">Perfiles de {{usuario.username|capfirst}}</li>
</ul>

  <div class="box-header" data-original-title>
    <h2><i class="icon-user"></i><span class="break"></span>Perfiles de Usuario</h2>
    <div class="box-icon">
      <span class="break"></span>
      <a data-toggle="modal" href="/nuevo_perfil/{{usuario.id}}" data-target="#myModal1"><i class="icon-plus-sign" ></i>
      <span class="break"></span>Nuevo</a>  
 
    </div>
  </div>

<div class="box-content">

    <table class="table table-striped table-bordered" id="example">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Tipo</th>
                  <th>Fecha registro</th>
                  <th>Fecha de caducidad</th>
                  <th>estado</th>
                  <th>Online?</th>
                  <th>Acciones</th>
                </tr>
              </thead>   
              <tbody>
                {% for dato in verPerfil %}
                <tr>
                  <td>{{dato.id}}</td>
                  <td>              
                  <a href="#" class="tipo" data-type="select" data-pk="{{dato.id}}" data-url="/edit_tipo/" class="editable-click" >{{dato.tipo}}</a>

                  </td>
                  <td>{{dato.fecha_registro}}
                    
                  </td>
                  <td>
                   <input type="hidden" class="fechaReg" value="{{dato.fecha_registro|date:"Ymd" }}"/>
                    <a href="#" class="fecha_caducidad" data-type="date" data-pk="{{dato.id}}" data-url="/edit_fecha_cad/" class="editable-click" >{{dato.fecha_caducidad}}</a>
                  <span class="help-inline"></span>
                  </td>
                 
                  <td> 
                      {% if dato.estado == 1 %}
                    <input type="checkbox" name="estado-{{dato.id}}" id="id_estado-{{dato.id}}" value="{{dato.id}}" checked="checked"/>
                    <span class="mensaje">Activo</span>
                    {% else %}
                    <input type="checkbox" name="estado-{{dato.id}}" id="id_estado-{{dato.id}}" value="{{dato.id}}">
                    <span class="mensaje">Inactivo</span>
                    {% endif %}
                  </td>
                  <td>{{dato.online}}</td>
                  <td class="center">
                   <a class="btn btn-info" data-toggle="modal" href="/editar_perfil/{{dato.id}}" data-target="#myModal2">
                    <i class="icon-edit icon-white"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table> 
                     
</div>



<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">      
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Crear Perfil</h3>
    </div>
    <div class="modal-body">  
    
    </div>    
</div>

<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">      
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Modificar Perfil</h3>
    </div>
    <div class="modal-body">  
    </div>    
</div>
{% endblock%}
{% block script %}

<script>
$.fn.editable.defaults.mode = 'inline';


$(document).on("ready", inicio);

function inicio()
{
  $( "input[type=checkbox]" ).on( "change", evento);

     $('.tipo').editable({      
      source: [
      {value: 'Operario', text: 'Operario'},
      {value: 'Supervisor', text: 'Supervisor'},
      {value: 'Administrador', text: 'Administrador'}
      ]
  });


  $('.fecha_caducidad').editable({
      format: 'yyyy-mm-dd',
      viewformat: 'dd-mm-yyyy',       

      validate: function(value)
       {
   
       var day=value.getDate()+1;
       var mes=value.getMonth()+1;
       var anio=value.getFullYear();
       if (day<10) day="0"+day;
       if(mes<10) mes="0"+mes;
       var fecha=anio+mes+day;

       
       var inicio=$(this).parent().children('.fechaReg').val();

          if(fecha<inicio) 
          {        

          return 'No es posible!';           
          
        }
      }
    
  });



}



function evento()
{
    var $checkbox1 = $(this);
    var id_perfil = $(this).val();
      $.ajax({
        data:{id_perfil_edit:id_perfil},
        type:"post",
        url:'/edit_estado/',
        success: function (data)
        {
          if (data=="False")
          {
            $checkbox1.parent().children('.mensaje').html('Inactivo');
          }
          else
          {
            $checkbox1.parent().children('.mensaje').html('Activo');
          }
        }
      });
    console.log(id_perfil);
}

</script>

{% endblock %}
 

